# Python
__pycache__/
*.pyc

# venv
.venv/
venv/

# Big data (ignore)
data/raw/
data/processed/

# Keep metadata (do NOT ignore these)
!data/annotations.csv
!data/labels.txt
!data/splits/
!data/splits/**

# Weights
*.pt
*.pth

# Outputs
session_*_predictions.json

# OS
.DS_Store
Thumbs.db
